html{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/lib.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: monospace;
}

.container{
    position: relative;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}
.container p{
    padding: 5px;
}
.container th{
    padding: 5px;
}

.content{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}