.wrapper{
    width: 1170px;
    margin: auto;
}


.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace;
    font-size: 20px;
}


.nav-area li a:hover{
    background: #fff;
    color: #333;
}

.logo img{
    width: 100px;
    float: left;
    height: auto;
}


nav{
    width: auto;
    height: 120px;
}
