html{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/library4.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

*{
    margin: 0px;
    padding: 0;
    font-family: monospace;
}




article{
    font-family: monospace;
    color: #000;
    padding: 20px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

a{
    color: #000;
    text-align: center;
    text-decoration: none;
    size: 50px;
}


.container{
    position: relative;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;

}

.column{
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    background:#fff;
    border-radius: 10px;
    size: 30px;
}


h2{
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    size: 30px;
}

h2:hover{
    color: grey;
}




