
html{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/library3.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

*{
    margin: 0px;
    padding: 0;
    font-family: monospace;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

h2{
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    padding: 5px;
}

p{
    font-size: 16px;
    color: #000;
    line-height: 24px;
    font-family: monospace;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 70px;
    display: flex;
    
}

.columns{
    min-width: 415px;
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    border-radius: 10px;
}

.card{
    
    padding: 15px 25px;
}

.imageContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.columns ul{
    display: inline;
}

.bold{
    font-weight: bold;
}

.button {
    background-color: rgb(76, 139, 76);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }

  img{
      padding: 5px;
  }
