html{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/library4.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: monospace;
}

*{
    margin: 0px;
    padding: 0;
    font-family: monospace;
}



  article{
    font-family: monospace;
    color: #000;
    padding: 20px 0;
}


.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;

}

.column{
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    background:#fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}


.column img {
    margin-right: 15px;
    float: left;
}

.column h3,.c.column h4,
.column p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

.column h4{
    color: grey;
    text-decoration: underline;
}

.column p{
    padding: 10px;
}
abbr[title] {
    text-decoration: none;
  }

img.resize{
    width: 100px;
    height: auto;
}


.button {
    background-color: rgb(76, 139, 76);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
  }

  .book{
    display: list-item;  
  }