
html{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/library2.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

*{
    margin: 0px;
    padding: 0;
    font-family: monospace;
}

.wrapper{
    width: 1170px;
    margin: auto;
}


.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace;
    font-size: 20px;
}


.nav-area li a:hover{
    background: #fff;
    color: #333;
}

.logo img{
    width: 100px;
    float: left;
    height: auto;
}


nav{
    width: auto;
    height: 120px;
}

article{
    font-family: monospace;
    color: #000;
    padding: 20px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

h2{
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    padding: 10px;
}

p{
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
}
h4{
    color: gray;
    font-family: monospace;
    padding: 10px;
    text-align: center;
}

.container{
    max-width: 990px;
    width: 100%;
    margin: 0 auto;

}

.column{
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    background:#fff;
    border-radius: 10px;
}


.container_foot{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}
.column_foot{
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    background:rgb(56, 53, 53);
    border-radius: 0px;
}

.container_foot h2{
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(155, 116, 80);
}

.container_foot ul li{
    color:#fff;
    size: 24px;
    text-align: center;
}






