*{
    margin: 0;
    padding: 0;
}



html{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/library.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace;
    font-size: 20px;
}


.nav-area li a:hover{
    background: #fff;
    color: #333;
}

.logo img{
    width: 100px;
    float: left;
    height: auto;
}

.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-family: monospace;
}

.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    font-family: monospace;
}

.welcome-text a:hover{
    background: #fff;
    color: #333;
}

.welcome-text h2{
    text-align: center;
    color: #fff;
    text-transform: none;
    font-size: 20px;
    font-family: monospace;
}

.welcome-text h3{
    text-align: center;
    color: #fff;
    text-transform: none;
    font-size: 10px;
    font-family: monospace;
}

.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 25px; 
    width: 100%;
    font-family: monospace;
    color: #fff
}  